<div class="col-sm-3">
  <div class="guest {{unbound receptionClass}}">
    {{#if international}}
    <div class="international"></div>
    {{/if}}

    <div class="name">{{guestId}} {{name}}</div>
    <button class="btn btn-xs btn-close"{{action "deleteGuest" guestId}}>&times;</button>

    <div><span class="number-of-guests">{{numberOfGuests}}</span> guests</div>
  </div>
</div>